{% block footer %}
    <footer class="panel-footer">
        <div class="row">
            <br>
            <div class="col-lg-4" >
                Créé par Elodie Vianai
            </div>
            <div class="col-lg-4">
                Portfolio - 2017
            </div>
            <div class="col-lg-4">
                <a href="https://twitter.com/elodiev31" target="_blank">
                    <img src="../../images/logos/TwitterLogo.png" alt="logo Twitter">
                </a>
                <a href="https://fr.linkedin.com/in/elodie-vianai" target="_blank">
                    <img src="../../images/logos/LinkedinLogo.png" alt="logo Linkedin">
                </a>
            </div>
        </div>
    </footer>
{% endblock %}