{% block header %}
    <header class="page-header">
        <div class="row">
            <div class="col-lg-3" id="logo">
                <a href="/">
                    <img src="/images/logos/logo.png" alt="logo WA" id="WALogo"/>
                </a>
            </div>
            <div class="nav nav-tabs" class="col-lg-9" id="menuPublic">
                <ul class="nav navbar-nav">
                    <li><a href="/">Accueil</a></li>
                    <li ><a href="/experiences">Expériences</a></li>
                    <li><a href="/formation">Formation</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" id="Right">
                    <li><a href='/inscription'>Inscription</a></li><li><a href='/connexion'>Connexion</a></li>
                </ul>
            </div>
        </div>
    </header>
{% endblock %}
