/****************************************************** SECTIONS ********************************************************/
section {
    padding-top: 3%; padding-bottom: 3%;
    border-bottom: 1px dotted #125688;
}

blockquote span {
    font-family: "Courier New", cursive;
}

#aboutMe {
    padding-left: 2%; padding-right: 5%;
    border-right: 1px dotted #125688;
    text-align: justify;
}

#mesAtouts {
    padding-left: 5%; padding-right: 5%;
    text-align: justify;
}

#mesInterets h2 {
    text-align: center;
}




/****************************************************** CAROUSEL ********************************************************/
.carousel-page
{
    width:100%;
    height:400px;
    background-color:#5f666d;
    color:blue;
}

.carousel-page img {
    margin:0 auto;
}