/********** CONTACT PAGE **********/
.spacebetween {
    border-left: 5px solid #eee;
    height: 150px;
}

.adresse {
    color: grey;
}

.rs .pseudo {
    color: grey;
    font-size: small;
}

/*.form-control:required {
    background: url(../img/asterisk.png) 98% center no-repeat #fff;
}*/

div .formulaire {
    padding-top: 2%;
    text-align: center;
    border-top: 5px solid #eee;
    border-top: 1px dotted #125688;
}

#formObligatoire {
    color: red;
    padding: 1%;
}


/********** EXPERIENCES PAGE **********/
.card {
    margin: 1%;
    padding: 0.5%;
}
.card img {
    max-width: 100%;
    height: auto;
}


/********** PROJECT DETAIL PAGE **********/
#imgdiv {
    width: 1200px;
    height : 500px;
}
#imageProject {
    border: 1px solid #125688;
    padding: 0;
    height: 100%;
    width: auto;
}

.logosTechnos {
    max-width: 100px;
    max-height: 100px;
}