{% extends 'Layout/index.html.twig' %}


{% block title %}
    Elodie's Portfolio - expériences
{% endblock %}



{% block stylesheets %}
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/experiences.css">
{% endblock %}


{% block header %}
    {{ include("Layout/publicHeader.html.twig") }}
{% endblock %}


{% block body %}
    <div class="row">
        <h1>Mes expériences</h1>
    </div>
    <div class="row">
        <h2>Expériences professionnelles</h2>
    </div>

<?php
    foreach($experiences as $exp)
    {
        echo '<zones class="row zones">
                <div class="col-lg-3 annees">
                    <p>.$exp['date_debut'].' - '.$exp['date_fin'].'<br> (6 mois)</p>
                 </div>
                <div class="col-lg-7 descriptions">
                    <p><span>'.$exp['name'].'</span><span>, '.$exp['entreprise'].'</span><br> '.$exp['ville'].' ('.$exp['dep'].')</p>
                </div>
                <div class="col-lg-2 logos">
                    <img src="../images/logos/'.$exp['logo'].'" class="logos" alt="Logo entreprise">
                </div>
            </zones>';
    }
?>





    <div class="row">
        <h2>Projets réalisés</h2>
    </div>

    <div class="row">
    <!-- NEW CARD !-->
        <div class="card col-lg-3">
            <div class="thumbnail">
                <img class="card-img-top" src="../images/projets/Portfolio.png" alt="Card image cap">
            </div>
            <div class="card-block">
                <h4 class="card-title">Projet Portfolio</h4>
                <p class="card-text">Projet réalisé dans le cadre de mon stage de fin d'études de M2, consistant à créer son propre portfolio.</p>
                <a href="/detailprojet" class="btn btn-primary">Plus de détails</a>
            </div>
        </div>
    <!-- NEW CARD !-->
        <div class="card col-lg-3">
            <div class="thumbnail">
                <img class="card-img-top" src="../images/noImage.png" alt="Card image cap">
            </div>
            <div class="card-block">
                <h4 class="card-title">Les voyages de Petit Louis</h4>
                <p class="card-text">Application de diffusion d'archives de Petit Louis, radiotélégraphiste de l'Aéropostale. </p>
                <a href="#" class="btn btn-primary">Plus de détails</a>
            </div>
        </div>
    <!-- NEW CARD !-->
        <div class="card col-lg-3">
            <div class="thumbnail">
                <img class="card-img-top" src="../images/projets/EnModeSport.jpg" alt="Card image cap">
            </div>
            <div class="card-block">
                <h4 class="card-title">Exposition En Mode Sport</h4>
                <p class="card-text">Participation à l'élaboration du catalogue et de l'exposition En Mode Sport (été 2015).</p>
                <a href="#" class="btn btn-primary">Plus de détails</a>
            </div>
        </div>
    <!-- NEW CARD !-->
        <div class="card col-lg-3">
            <div class="thumbnail">
                <img class="card-img-top" src="../images/noImage.png" alt="Card image cap">
            </div>
            <div class="card-block">
                <h4 class="card-title">Site du Saverdun Pyrénées Natation Sauvetage</h4>
                <p class="card-text">Site du SPNS, club de natation, en cours de réalisation</p>
                <a href="#" class="btn btn-primary">Plus de détails</a>
            </div>
        </div>
    </div>

{% endblock %}


{% block footer %}
    {{ include("Layout/footer.html.twig") }}
{% endblock %}