{% extends 'Layout/formulaire.html.twig' %}


{% block title %}
    Admin Portfolio - Modifier
{% endblock %}



{% block stylesheets %}
    <link rel="stylesheet" href="/css/header.css">
{% endblock %}


{% block header %}
    {{ include("Layout/adminHeader.html.twig") }}
{% endblock %}

{% block titrePage %}
    <h1>Modifier le projet</h1>
    <h4>Projet Portfolio</h4>
{% endblock %}

{% block formulaire %}
    <div class="form-group">
        <div class="row">
            <h3>Présentation du projet</h3>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <label for="nomProjet" class="control-label">Nom du projet</label>
            </div>
            <div class="col-lg-4">
                <input type="text" class="form-control" id="nomProjet" required>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-3">
                <label for="dateRealisation" class="control-label">Date réalisation du projet</label>
            </div>
            <div class="col-lg-2">
                <input type="date" class="form-control" id="dateRealisation">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <label for="insertImageProjet" class="control-label">Screenshot du projet</label>
            </div>
            <div class="col-lg-9">
                <input type="file" class="form-control-file" id="insertImageProjet" aria-describedby="aideInsertImage">
                <small id="aideInsertImage" class="form-text text-muted">Seuls les fichiers images sont admis (jpg, jpeg, png...)</small>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <h3>Description du projet</h3>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <label for="descriptionProjet" class="control-label">Description du projet</label>
            </div>
            <div class="col-lg-9">
                <textarea class="form-control" rows="5" placeholder="Tapez ici votre description." id="descriptionProjet"></textarea>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <h3>Technologies utilisées pour ce projet</h3>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <label for="technologies">Technologies utilisées</label>
            </div>
            <div class="col-lg-6">
                <select multiple class="form-control" id="technologies" aria-describedby="aideAjout">
                    <option>HTML</option>
                    <option>CSS</option>
                    <option>JavaScript</option>
                    <option>PHP</option>
                    <option>Bootstrap</option>
                    <option>Slim</option>
                    <option>Twig</option>
                </select>
                <small id="aideAjout" class="form-text text-muted">Pour sélectionner plusieurs technologies, maintenez la touche CTRL enfoncée</small>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
{% endblock %}

{% block Boutton %}Modifier{% endblock %}

{% block footer %}
    {{ include("Layout/footer.html.twig") }}
{% endblock %}