{% extends 'Layout/gestion.html.twig' %}


{% block title %}
    Admin Portfolio - Projets
{% endblock %}



{% block stylesheets %}
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/gestion.css">
{% endblock %}


{% block header %}
    {{ include("Layout/adminHeader.html.twig") }}
{% endblock %}

{% block titrePage %}
    <h1>Gestion de mes projets</h1>
{% endblock %}

{% block cheminAjouter %}
    /admin/gestiondesprojets
{% endblock %}

{% block nomBoutonAjouter %}
    Ajouter un nouveau projet
{% endblock %}

{% block thead %}
    <th>Année de réalisation</th>
    <th>Nom du projet</th>
    <th>Description du projet</th>
    <th>Image du projet</th>
    <th>Liste des technologies</th>
{% endblock %}

{% block tbody %}
    <tr>
        <td>2017</td>
        <td>Projet Portfolio</td>
        <td class="descriptionProjet">Projet réalisé dans le cadre de mon stage de fin d'études de M2, consistant à créer son propre portfolio (CV).</td>
        <td>
            <img src="../images/projets/Portfolio.png" class="logos" alt="photo du projet">
        </td>
        <td>
            <ul class="listeTechnos">
                <li>HTML</li>
                <li>CSS</li>
                <li>Bootstrap</li>
                <li>Slim</li>
                <li>Twig</li>
            </ul>
        </td>
        <td>
            <a class="btn btn-default" href="/detailprojet">Voir</a>
        </td>
        <td>
            <a class="btn btn-success" href="/admin/gestiondesprojets/modifier">Modifier</a>
        </td>
        <td>
            <a class="btn btn-danger" href="supprimer.php">Supprimer</a>
        </td>
    </tr>
    <tr>
        <td>2016</td>
        <td>Les voyages de Petit Louis</td>
        <td class="descriptionProjet">Application de consultation d'archives de Petit Louis, radiotélégraphiste de l'Aéropostale.</td>
        <td>
            <img src="../images/noImage.png" class="logos" alt="photo du projet">
        </td>
        <td>
            <ul class="listeTechnos">
                <li>HTML</li>
                <li>CSS</li>
                <li>PHP</li>
                <li>Javascript</li>
            </ul>
        </td>
        <td>
            <a class="btn btn-default" href="lecture.php">Voir</a>
        </td>
        <td>
            <a class="btn btn-success" href="/admin/gestiondesprojets/modifier">Modifier</a>
        </td>
        <td>
            <a class="btn btn-danger" href="supprimer.php">Supprimer</a>
        </td>
    </tr>
    <tr>
        <td>2015</td>
        <td>Exposition "En Mode Sport"</td>
        <td class="descriptionProjet">Participation à l'élaboration du catalogue et de l'exposition En Mode Sport (été 2015).</td>
        <td>
            <img src="../images/projets/EnModeSport.jpg" class="logos" alt="photo du projet">
        </td>
        <td></td>
        <td>
            <a class="btn btn-default" href="lecture.php">Voir</a>
        </td>
        <td>
            <a class="btn btn-success" href="/admin/gestiondesprojets/modifier">Modifier</a>
        </td>
        <td>
            <a class="btn btn-danger" href="supprimer.php">Supprimer</a>
        </td>
    </tr>
    <tr>
        <td>...</td>
        <td>SI du Saverdun Pyrénées Natation Sauvetage</td>
        <td class="descriptionProjet">Site du SPNS, club de natation, en cours de réalisation</td>
        <td>
            <img src="../images/noImage.png" class="logos" alt="photo du projet">
        </td>
        <td>
            <ul class="listeTechnos">
                <li>CMS Sportsregions</li>
            </ul>
        </td>
        <td>
            <a class="btn btn-default" href="lecture.php">Voir</a>
        </td>
        <td>
            <a class="btn btn-success" href="/admin/gestiondesprojets/modifier">Modifier</a>
        </td>
        <td>
            <a class="btn btn-danger" href="supprimer.php">Supprimer</a>
        </td>
    </tr>
{% endblock %}

{% block footer %}
    {{ include("Layout/footer.html.twig") }}
{% endblock %}