{% extends 'Layout/index.html.twig' %}


{% block title %}
    Elodie's Portfolio - inscription
{% endblock %}



{% block stylesheets %}
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/inscriptionConnexion.css">
{% endblock %}


{% block header %}
    {{ include("Layout/publicHeader.html.twig") }}
{% endblock %}


{% block body %}
    <div class="row">
        <h1>Inscription</h1>
    </div>

    <div class="row">
        <p>Tous les champs marqués d'un * sont obligatoires.</p>
    </div>

    <form class="form-horizontal" method="post" action="/connexion">
        <div class="form-group">
            <div class="col-lg-3">
            <label for="identifiant" class="control-label">Nom d'utilisateur</label>
            </div>
            <div class="col-lg-7">
                <input type="text" name="username" placeholder="Nom d'utilisateur" class="form-control" required="required">
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="form-group">
            <div class="col-lg-3">
            <label for="mdp" class="control-label">Mot de passe</label>
            </div>
            <div class="col-lg-7">
                <input type="password" name="mdp" class="form-control" id="mdp" placeholder="Mot de passe" required>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="form-group">
            <div class="col-lg-3">
                <label for="mdpConfirmation" class="control-label">Confirmation du mot de passe</label>
            </div>
            <div class="col-lg-7">
                <input type="password" name="mdpC" class="form-control" id="mdp" placeholder="Mot de passe" required>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="form-group">
            <div class="col-lg-3">
                <label for="mail" class="control-label">Email</label>
            </div>
            <div class="col-lg-7">
                <input type="email" name="email" placeholder="Email" class="form-control" required>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-6 col-lg-6">
                <button type="submit" class="btn btn-primary">S'enregistrer</button>
            </div>
        </div>
    </form>
{% endblock %}

{% block footer %}
    {{ include("Layout/footer.html.twig") }}
{% endblock %}