<!doctype html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}{% endblock %}</title>

        <script src="/lib/jquery/jquery-3.2.1.js"></script>
        <script src="/lib/tether-1.4.0/dist/js/tether.js"></script>
        <script src="https://npmcdn.com/bootstrap@4.0.0-alpha.6/dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">

        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="stylesheet" href="/css/apiSpotify.css">
        {% block stylesheets %} {% endblock %}
    </head>

    <body>
    <div class="container">
        {% block header %} {% endblock %}

        {% block body %} {% endblock %}

        <footer class="panel-footer text-center" id="footer">
            <div class="row">
                <br>
                <div class="col-4" >
                    Créé par Elodie Vianai
                </div>
                <div class="col-4">
                    Portfolio - 2017
                </div>
                <div class="col-4">
                    <a href="https://twitter.com/elodiev31" target="_blank">
                        <img src="/img/logos/TwitterLogo.png" alt="logo Twitter">
                    </a>
                    <a href="https://fr.linkedin.com/in/elodie-vianai" target="_blank">
                        <img src="/img/logos/LinkedinLogo.png" alt="logo Linkedin">
                    </a>
                    {% if 'user' in user.roles %}
                        <a href="user/contact">
                            <img src="/img/logos/email.png" alt="logo contact">
                        </a>
                    {% elseif 'admin' in user.roles %}
                        <a href="admin/contact">
                            <img src="/img/logos/email.png" alt="logo contact">
                        </a>
                    {% else %}
                        <a href="/contact">
                            <img src="/img/logos/email.png" alt="logo contact">
                        </a>
                    {% endif %}
                </div>
            </div>
        </footer>
    </div>

        <script src="/js/utils.js"></script>
        {% block javascripts %} {% endblock %}
    </body>
</html>

