{% extends 'AdminZone/form.html.twig' %}

{% block title %}
    Admin Portfolio - {% if technology.update == true %}Modifier {% else %} Ajouter {% endif %} une technologie
{% endblock %}

{% block page_title %}
    {% if technology.update == true %}
        <h1 class="h1 text-center">Modifier une technologie</h1>
    {% else %}
        <h1 class="h1 text-center padding-bottom-3">Ajouter une nouvelle technologie</h1>
    {% endif %}
{% endblock %}

{% block page_subtitle %}
    {% if technology.update == true %}
        <div class="row justify-content-center padding-bottom-3">
            <h4 class="text-center subtitle">{{ technology.name }}</h4>
        </div>
    {% endif %}
{% endblock %}

{% block formulaire %}
    <form class="paddin-bottom-5" id="formulaire" method="post" action="{{ technology.update == true ? '/admin/gestiondestechnologies/modifier/' ~ technology.id : '/admin/gestiondestechnologies/ajouter' }}">
        <div class="row form-group">
            <div class="col-3">
                <label for="name" class="font-weight-bold">Nom de la technologie</label>
            </div>
            <div class="col">
                <input type="text" name="name" class="col form-control" id="name" required {% if technology.update == true %}value="{{ technology.name }}"{% endif %}>
            </div>
        </div>
        <div class="row justify-content-start form-group ">
            <div class="col-3">
                <label for="image_path" class="font-weight-bold">Logo de la technologie</label>
            </div>
            <div class="col">
                <input type="file" name="image_path" class="form-control-file" id="image_path" aria-describedby="aideInsertImage">
                <small id="aideInsertImage" class="form-text text-muted">Seuls les fichiers images sont admis (jpg, jpeg, png...)</small>
            </div>
            {% if technology.update == true %}
                <div class="col invisible">
                    <label for="id" class="font-weight-bold">Identifiant de la technologie</label>
                    <input type="text" name="id" class="col form-control" id="id" value="{{ technology.id }}">
                </div>
            {% endif %}
        </div>
        <div class="row justify-content-center form-group padding-top-3 padding-bottom-5">
            <button type="submit" class="btn backgroundWA">
                {% if technology.update == true %}
                    Modifier
                {% else %}
                    Ajouter
                {% endif %}
            </button>
        </div>
    </form>
{% endblock %}