{% block header %}
    <header  id="header">
        <div class="row align-middle">
            <div class="col-3" id="logo">
                <a href="/admin">
                    <img src="/img/logos/logo.png" alt="logo WA" id="WALogo"/>
                </a>
            </div>
            <div class="col">
                <nav class="navbar navbar-toggleable-md" id="menuConnected">
                    <div class="navbar-collapse" id="navbarSupportedContent">
                        <div class="navbar-nav mr-auto">
                            <div class="nav-item"><a class="nav-link" href="/admin">Accueil</a></div>
                            <!-- dropdown !-->
                            <div class="btn-group dropdown" role="group">
                                <button id="gestionCv" type="button" class="btn btn-secondary dropdown-toggle"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Gestion du CV
                                </button>
                                <div class="dropdown-menu" aria-labelledby="gestionCv">
                                   <a class="dropdown-item nav-link" href="/admin/gestiondesexperiences">Gestion des expériences</a>
                                   <a class="dropdown-item nav-link" href="/admin/gestiondesformations">Gestion des formations</a>
                                   <a class="dropdown-item nav-link" href="/admin/gestiondesprojets">Gestion des projets</a>
                                   <a class="dropdown-item nav-link" href="/admin/gestiondestechnologies">Gestion des technologies</a>
                                </div>
                            </div>
                            <!-- end dropdown !-->
                            <div class="nav-item"><a class="nav-link" href="/admin/gestiondesutilisateurs">Gestion des utilisateurs</a></div>
                        </div>
                        <div class="nav navbar-nav navbar-right" id="administrator">
                            <p class="justify-content-end text-right">
                                <strong>Adminsitrateur</strong>
                                <br>
                                <a href="/disconnect">Déconnexion</a></p>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
{% endblock %}